<footer>
  <section>
    <ol>
      <li>
        <a href="#">Our stores</a>
      </li>
      <li>
        <a href="#">Brands</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ol>
  </section>
  <section>
    <ol>
      <li>
        <a href="#">Help</a>
      </li>
      <li>
        <a href="#">Shipping & Returns</a>
      </li>
      <li>
        <a href="#">Payments</a>
      </li>
    </ol>
  </section>
  <section>
    <ol>
      <li>
        <a href="#">Instagram</a>
      </li>
      <li>
        <a href="#">Pinterest</a>
      </li>
      <li>
        <a href="#">Facebook</a>
      </li>
    </ol>
  </section>
</footer>
