.products-grid__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  grid-auto-rows: minmax(100px, auto);
}

.product a {
  text-decoration: none;
}

.product__info {
  margin-top: 8px;
}

.product__price {
  color: #2e57f3;
  font-style: italic;
  margin-top: 4px;
}
