header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.logo {
  padding: 6px 12px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px;
}

.mini-shop-cart {
  position: static;
}

.mini-shop-cart__count {
  color: #fff;
  display: block;
  position: relative;
  top: -22px;
  text-align: center;
  font-size: 12px;
}
